@inherits TrackingLinkEditComponentBase


<div class="form-floating mb-3">
    <input class="form-control" value="@trackingLink.Key" disabled>
    <label for="floatingInput">Key</label>
</div>


<EditForm Model="@trackingLink" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating mb-3">
        <input class="form-control" @bind-value="trackingLink.TargetUrl">
        <label for="floatingInput">Ziel Url</label>
    </div>
    

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isactive" @bind="trackingLink.IsActive">
        <label class="form-check-label" for="isactive">Aktiv</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="allowqueryparameter" @bind="trackingLink.RedirectWithQueryParameter">
        <label class="form-check-label" for="allowqueryparameter">Queryparameter weiterleiten</label>
    </div>


    <button type="submit" class="btn btn-primary mt-5">Speichern</button>

</EditForm>