@inherits TrackingLinkOverviewTableComponentBase


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Key</th>
            <th scope="col">Aktionen</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var trackingLink in trackingLinks)
        {
            <tr>
                <td>@trackingLink.Id</td>
                <td>@trackingLink.Key</td>
                
                <td>
                    <NavLink href="@($"/TrackingLinks/Edit/{ trackingLink.Id }")" Match="NavLinkMatch.Prefix"><span class="oi oi-cog me-2"></span></NavLink>
                    <NavLink href="@($"{ redirectWebUrl }{ trackingLink.Key }")" Match="NavLinkMatch.Prefix" target="_blank" rel="noopener nofollow"><span class="oi oi-external-link me-2"></span></NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>
