@page "/TrackingLinks/Chart/{Id:int}"

@using LinkBakery.Web.Cms.Dtos
@using LinkBakery.Web.Cms.Services.Interfaces

@inject ITrackingLinkService TrackingLinkService

<PageTitle>Link-Chart</PageTitle>

<h2>Link-Chart</h2>

@foreach(var trackingLinkCall in trackingLinkCalls)
{
    <p>
        @trackingLinkCall.DateTime
    </p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private TrackingLinkEditDto trackingLink;
    private IEnumerable<TrackingLinkCallChartDto> trackingLinkCalls;

    protected override async Task OnInitializedAsync()
    {
        trackingLink = await TrackingLinkService.FindByIdAsync(Id);
        trackingLinkCalls = TrackingLinkService.GetCallChartData(Id);
    }

}